accelerate==0.30.0
codecarbon==2.0.0
datasets==2.20.0
evaluate==0.4.1
numpy==1.24.0
pandas==2.0.0
sacremoses==0.1.1
scikit-learn==1.3.0
sentencepiece==0.2.0
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
transformers==4.40.0


